* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.container{
	background-color: #F2F0CE;
  margin: -11px;
  padding: 10px;
	text-align: center;
	height: 12.5em;
}

body {
	display: flex;
	background-color: lightgrey;
	padding: 4px;
	width: 256px;
}

input {
	width: 94%;
	height: 25px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
}

button {
	width: 93%;
	height: 25px;
	color: white;
	background-color: #F25050;
	margin: 5px 5px;
	border: none;
	border-radius: 5px;
}

button:hover {
	color: white;
	background-color: ##F27A5E;
	width: 96%;
	height: 30px;
  font-weight: bold;
}

h1 {
	text-align: center;
	color: red;
}
